<div class="container" >
<button type="button" class="btn btn-default" ng-model="selectedCenter" data-html="1" data-animation="am-flip-x" ng-options="dc as dc.hospitalName for dc in donorCenterList" bs-select>
  Action <span class="caret"></span>
</button>
<button type="button" class="btn btn-default" ng-model="selectedRadious" data-html="1" data-animation="am-flip-x" ng-options="km.value as km.label for Km in KmList" bs-select>
  Action <span class="caret"></span>
</button>
<button type="button" class="btn  bn-primary" value="Get Donor" ng-click="load();">Get Donor</button>
<!-- <button type="button" class="btn  bn-primary" data-placement="bottom" data-animation="am-flip-x" bs-popover="popover"> -->
<!-- Search for Donor -->
<!-- </button> -->
<div id="map-canvas"></div>
</div>