<div class="popover" tabindex="-1" ng-show="content">
  <div class="arrow"></div>

  
  
	<div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" name="bloodGroupCheck">
        Match Exact Blood Group
      </span>
      
    </div>
	
  	 <span class="input-group-addon">
	      <label>Give Preference For</label></br>
	      <div class="row">
	      <div class="radio">
	        <input type="radio" name="donorType" checked>
	       	Any Donor
	      </div>
	      <div class="radio">
	        <input type="radio" name="donorType" >
	        New Donor
	       </div>
	        <div class="radio">
	         <input type="radio" name="donorType" >
	         Frequent Donor
      		</div>
      		</div>
     </span>
	

  
  
</div>