<div class="popover" tabindex="-1" ng-show="content">
  <div class="arrow"></div>
<!--   <h3 class="popover-title" ng-bind-html="title" ng-show="title"></h3> -->
  <div class="popover-content"> 
  
<!-- <ul class="list-group">  -->
<!--   <li class="list-group-item"  ng-repeat="dc1 in donorList"> -->
<!--   <i class="glyphicon glyphicon-user"></i> -->
<!--   {{dc1.donorName}}  -->
<!--   <div class=" text-right"><i class="glyphicon glyphicon-earphone"></i>&nbsp;{{dc1.donorPrimaryNo}}</div> -->
<!--   <span class="badge">{{dc1.donorPrimaryNo}}</span></li> -->
<!-- </ul> -->
  					<div ng-repeat="dc1 in donorList">
  						<div class="row" >
							<div class="col-xs-12">
								<i class="glyphicon glyphicon-user"></i><strong>{{dc1.donorName}}</strong>
							</div>
							<div class="col-xs-6">
								<i class="glyphicon glyphicon-earphone"></i>&nbsp;{{dc1.donorPrimaryNo}}
							</div>
							<div class="col-xs-6 text-right">
								<i class="glyphicon glyphicon-phone-alt"></i>&nbsp;{{dc1.donorSecondaryNo}}
							</div>
						</div>
						<hr />
				</div>
<!-- <div class="dropdown"> -->
<!--   <button class="btn btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" ng-repeat="dc1 in donorList"> -->
<!--     {{dc1.donorName}} -->
<!--     <span class="caret"></span> -->
<!--   </button> -->
<!-- </div> -->
  </div>
</div>