.menubar {
 lineheight: 1px;
 background: none repeat scroll 0% 0% #40454F;
 fontsize: 1px;
}

#map-canvas { height: 800px; width: 800px; margin: 0; padding: 0;}
@media(min-width:900px) {
	#map-canvas { height: 1024px; width: 1024px; margin: 0; padding: 0;}
}
